.details-container {
  width: auto;
  background-color: rgb(255, 195, 127);
}

details {
  margin: auto;
}

.title {
  font-style: italic;
}

img {
  display: block;
  margin: auto;
  max-width: 70%;
}
