/* modaalisisällön tyylit */

.modal-card {
  background-color: bisque;
  text-align: center;
}

.modal-card img {
  display: block;
  margin: 2rem auto auto auto;
  max-width: 70%;
  max-height: 400px;
}

.imgTitle {
  font-style: italic;
}
