<!--Haku-->

<p class="searchInstructions">Hae kalenteriin haluamasi teema. Kokeile esimerkiksi sanoja 'kissa' tai 'jyväskylä'.</p>

<form class="searchField">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Hakusana</mat-label>
    <input matInput type="search" id="search" #searchTerm />
  </mat-form-field>
  <!--tapahtumasidos: painikkeen klikkaus kutsuu submitSearch-metodia, jonka parametriksi syötetty arvo-->
  <button mat-raised-button (click)="submitSearch(searchTerm.value)">Hae</button>
</form>