.calendar-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  align-content: center;
  gap: 22px;
  padding: 2rem;
}

.errorMessage {
  font-size: medium;
  text-align: center;
  font-style: italic;
}
